@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

body {
    background-color: #f0f2f5;
}

.logoFB {
    width: 198px;
}

.contenedor-data {
    margin: 0 20%;
}

#container-foto img {
    width: 160px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.fondo-blanco {
    background-color: #fff;
}

#container-foto p {
    padding: 12px;
    text-align: center;
    color: #4b4f56;
    font-weight: 600;
}

#container-foto {
    max-width: 160px;
    border-radius: 15px;
    /* border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; */
    border: solid 1px #dadada;
}

.reparto-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: #fff;
    border-radius: 8px;
    padding-bottom: 24px;
    padding-top: 10px;
}

.flex-formulario input {
    margin: 10px 0;
    width: 250px;
    padding: 14px 16px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
}

.btn-login {
    background-color: #1877f2;
    border: none;
    color: #fff;
    width: 100%;
    padding: 10px 0;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
}