<div class="container">
    <div class="row">
        <div class="col-4 d-flex justify-content-center align-items-center">
            <img src="./assets/img/mi-carota.jpg" class="w-50" alt="">
        </div>
        <div class="col-8">
            <h1>Yo</h1>
            <p class="mi-texto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt qui veritatis, quam amet cumque cum quisquam? Quod a quae minima et magni assumenda enim incidunt dolores nostrum aliquid. Debitis?
            </p>
        </div>
    </div>
</div>