:root {
    --gris-fb: #f0f2f5;
    --borde-perfiles: 15px;
    --verde-fb: #42b72a;
}

body {
    background-color: var(--gris-fb);
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.logo-fb {
    width: 35%;
    transform: translateX(-22px);
}

.seccion-1,
.seccion-2 {
    height: 70vh;
}

.data-perfil img,
.agregar-perfil {
    border-top-left-radius: var(--borde-perfiles);
    border-top-right-radius: var(--borde-perfiles);
    width: 160px;
    height: 160px;
}

.data-perfil,
.perfil-extra {
    border-color: #a8a8a8 !important;
    border-radius: var(--borde-perfiles);
}

.seccion-perfiles {
    border-radius: var(--borde-perfiles);
}


/* color: #4b4f56; */

.perfil-extra {
    width: 160px;
}

.form-user,
hr {
    width: 93%;
}

.boton-nueva-cuenta {
    background-color: var(--verde-fb);
    font-size: 1.4rem;
}

.sombra-caja {
    -webkit-box-shadow: 5px 10px 24px 4px rgba(0, 0, 0, 0.24);
    box-shadow: 5px 10px 24px 4px rgba(0, 0, 0, 0.24);
}